[submodule "Vendor/Binaries/imgui"]
	path = Vendor/Binaries/imgui
	url = https://github.com/SoapyEnigma/imgui/tree/docking

[submodule "Vendor/Binaries/spdlog"]
	path = Vendor/Binaries/spdlog
	url = https://github.com/SoapyEnigma/spdlog
	
[submodule "Vendor/Binaries/glm"]
	path = Vendor/Binaries/glm
	url = https://github.com/SoapyEnigma/glm

[submodule "Vendor/Binaries/glfw"]
	path = Vendor/Binaries/glfw
	url = https://github.com/SoapyEnigma/glfw